<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14566583687-03kqnl39eu7re7qfj4lcba1oogvolu2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14566583687-03kqnl39eu7re7qfj4lcba1oogvolu2p</string>
	<key>API_KEY</key>
	<string>AIzaSyDADwdU2VYe0obOPPKfHmBdL2z1Rnho4sI</string>
	<key>GCM_SENDER_ID</key>
	<string>14566583687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zhousenyeliu.Cardeal</string>
	<key>PROJECT_ID</key>
	<string>cardeal-de716</string>
	<key>STORAGE_BUCKET</key>
	<string>cardeal-de716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14566583687:ios:1e43345ee6d4e539f9f722</string>
</dict>
</plist>